In [342]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation

In [336]:
# Intialize list of odd or even values
even_odd =  np.random.rand(10000, 1)
even_odd = even_odd * 100 
even_odd = even_odd.round()
even_odd_data = pd.DataFrame(even_odd)

In [337]:
even_odd_data.head()

      0
0  59.0
1  71.0
2  77.0
3  71.0
4  41.0

In [338]:
def even_or_odd(row):
    if row[0] % 2 == 0:
        return 1
    else:
        return 0

In [339]:
# This lambda function passes two inputs per row through 
## an XOR gate and placing the resulting output into a new column named 'XOR Result'
even_odd_data['Even or Odd'] = data.apply(lambda row: even_or_odd(row), axis=1)

# Preview the resulting dataframe
even_odd_data.head(10)

      0  Even or Odd
0  59.0            0
1  71.0            1
2  77.0            1
3  71.0            1
4  41.0            0
5  14.0            1
6   9.0            1
7  69.0            1
8   1.0            0
9  63.0            0

In [340]:
# Select a subset of the generated data and split into test/train
features = even_odd_data.iloc[:, 0]
label = even_odd_data.iloc[:, 1]

X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.25, random_state=42)

In [341]:
print("X_train =", len(X_train), "samples.")
print("y_train =", len(y_train), "samples.")
print("X_test =", len(X_test), "samples.")
print("y_test =", len(y_test), "samples.")

X_train = 7500 samples.
y_train = 7500 samples.
X_test = 2500 samples.
y_test = 2500 samples.

In [351]:
# Creating odd/even model
model = Sequential()
model.add(Dense(2, input_dim=1, activation="relu"))
model.add(Dense(1, activation='sigmoid'))

In [352]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [353]:
# Fit model on training data
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
7500/7500 [==============================] - 2s 236us/step - loss: 0.6931 - acc: 0.5084
Epoch 2/10
7500/7500 [==============================] - 0s 49us/step - loss: 0.6930 - acc: 0.5095
Epoch 3/10
7500/7500 [==============================] - 0s 50us/step - loss: 0.6930 - acc: 0.5095
Epoch 4/10
7500/7500 [==============================] - 0s 59us/step - loss: 0.6930 - acc: 0.5095
Epoch 5/10
7500/7500 [==============================] - 0s 48us/step - loss: 0.6930 - acc: 0.5095
Epoch 6/10
7500/7500 [==============================] - 0s 54us/step - loss: 0.6930 - acc: 0.5095
Epoch 7/10
7500/7500 [==============================] - 0s 57us/step - loss: 0.6930 - acc: 0.5095
Epoch 8/10
7500/7500 [==============================] - 0s 50us/step - loss: 0.6930 - acc: 0.5095
Epoch 9/10
7500/7500 [==============================] - 0s 52us/step - loss: 0.6930 - acc: 0.5095
Epoch 10/10
7500/7500 [==============================] - 0s 48us/step - loss: 0.6930 - acc: 0.5095

In [354]:
# Fit model on training data
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
7500/7500 [==============================] - 0s 53us/step - loss: 0.6930 - acc: 0.5095
Epoch 2/10
7500/7500 [==============================] - 0s 48us/step - loss: 0.6930 - acc: 0.5095
Epoch 3/10
7500/7500 [==============================] - 0s 49us/step - loss: 0.6930 - acc: 0.5095
Epoch 4/10
7500/7500 [==============================] - 0s 49us/step - loss: 0.6930 - acc: 0.5095
Epoch 5/10
7500/7500 [==============================] - 0s 49us/step - loss: 0.6930 - acc: 0.5095
Epoch 6/10
7500/7500 [==============================] - 0s 49us/step - loss: 0.6930 - acc: 0.5095
Epoch 7/10
7500/7500 [==============================] - 0s 50us/step - loss: 0.6930 - acc: 0.5095
Epoch 8/10
7500/7500 [==============================] - 0s 48us/step - loss: 0.6930 - acc: 0.5095
Epoch 9/10
7500/7500 [==============================] - 0s 48us/step - loss: 0.6930 - acc: 0.5095
Epoch 10/10
7500/7500 [==============================] - 0s 47us/step - loss: 0.6930 - acc: 0.5095

In [355]:
print("Test Data Accuracy =", val_accuracy*100, '%')
print("Test Data Loss =", val_loss)

Test Data Accuracy = 100.0 %
Test Data Loss = 3.441543941153213e-05

In [57]:
# Initializing random input for the XOR gate using numpy function that creates
## a random distribution of values between 0 and 1.
X = np.random.rand(100000, 2)
# Round each random value to the values 0 or 1.
X = X.round()
# Convert numpy matrix into pandas dataframe
data = pd.DataFrame(X, dtype=np.int8)

In [58]:
# Preview the first 5 rows of data
data.head()

   0  1
0  1  1
1  0  0
2  0  0
3  0  0
4  1  1

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
0    100000 non-null int8
1    100000 non-null int8
dtypes: int8(2)
memory usage: 195.4 KB

In [231]:
# Create a function to apply to 2 columns in dataframe
## that mimicks an XOR gate in digital logic
def XOR_Gate(row):
    if(row[0] == row[1]):
        return 0
    elif(row[0] != row[1]):
        return 1
    else: 
        raise ValueError('Corrupt value detected by XOR_Gate()')

In [232]:
# This lambda function passes two inputs per row through 
## an XOR gate and placing the resulting output into a new column named 'XOR Result'
data['XOR Result'] = data.apply(lambda row: XOR_Gate(row), axis=1)

# Preview the resulting dataframe
data.head()

   0  1  XOR Result
0  1  1           0
1  0  0           0
2  0  0           0
3  0  0           0
4  1  1           0

In [306]:
# Select a subset of the generated data and split into test/train
num_rows = 10000
features = data.iloc[:num_rows, :2]
label = data.iloc[:num_rows, 2]

X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.25, random_state=42)

In [307]:
print("X_train =", len(X_train), "samples.")
print("y_train =", len(y_train), "samples.")
print("X_test =", len(X_test), "samples.")
print("y_test =", len(y_test), "samples.")

X_train = 7500 samples.
y_train = 7500 samples.
X_test = 2500 samples.
y_test = 2500 samples.

In [314]:
import keras
# Creating model
model = Sequential()
model.add(Dense(128, input_dim=2, activation="relu"))
model.add(Dense(128, activation="relu"))
model.add(Dense(1, activation='sigmoid'))

In [315]:
# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [316]:
# Fit model on training data
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
7500/7500 [==============================] - 2s 245us/step - loss: 0.1866 - acc: 0.9723
Epoch 2/10
7500/7500 [==============================] - 0s 60us/step - loss: 0.0026 - acc: 1.0000
Epoch 3/10
7500/7500 [==============================] - 0s 58us/step - loss: 7.4383e-04 - acc: 1.0000
Epoch 4/10
7500/7500 [==============================] - 0s 62us/step - loss: 3.5378e-04 - acc: 1.0000
Epoch 5/10
7500/7500 [==============================] - 1s 68us/step - loss: 2.0550e-04 - acc: 1.0000
Epoch 6/10
7500/7500 [==============================] - 0s 62us/step - loss: 1.3310e-04 - acc: 1.0000
Epoch 7/10
7500/7500 [==============================] - 1s 68us/step - loss: 9.2281e-05 - acc: 1.0000
Epoch 8/10
7500/7500 [==============================] - 1s 69us/step - loss: 6.7057e-05 - acc: 1.0000
Epoch 9/10
7500/7500 [==============================] - 1s 69us/step - loss: 5.0416e-05 - acc: 1.0000
Epoch 10/10
7500/7500 [==============================] - 0s 67us/step - loss: 3.8897e-05 - acc: 1.0000

In [317]:
# Evaluate model with test data
val_loss, val_accuracy = model.evaluate(X_test, y_test)

2500/2500 [==============================] - 1s 272us/step

In [318]:
print("Test Data Accuracy =", val_accuracy*100, '%')
print("Test Data Loss =", val_loss)

Test Data Accuracy = 100.0 %
Test Data Loss = 3.441543941153213e-05

In [319]:
# Save the model
model.save('XOR_Predictor.model')